:root {
  --black: #130313;
  --white: #dcdcdc;
  --border: 1px solid var(--black);
  --padding: 10px;
  --background-color-body: linear-gradient(120deg, rgb(82, 97, 252), rgb(30, 83, 198));
  --background-color-container: #000;
  --background-color-buttons: #cdcdcd;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: var(--background-color-body);
  min-width: 100%;
  min-height: 100vh;
}

a {
  margin: 10px;
  color: var(--black);
  text-decoration: none;
}
a:hover {
  color: var(--black);
  opacity: .7;
}

/* ---------------------------------- */
/* ----------- Flex classes --------- */
/* ---------------------------------- */

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_content-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex_content-end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ------------------------------------------------- */
/* ------------------- Other classes --------------- */
/* ------------------------------------------------- */

.container {
  /* All containers has class .flex_center */
  flex-direction: column;
  min-width: 100%;
  min-height: 70vh;
}

h1 {
  font-size: 30px;
  margin: 0 10px 20px 10px;
}

.buttons {
  padding: 10px;
  margin: 5px;
  border-radius: 15px 30px;
  cursor: pointer;
  background-color: var(--background-color-buttons);
  box-shadow: 1px 1px 1px var(--black);
}
.buttons:hover {
  opacity: .7;
}