:root {
  --black: #130313;
  --white: #dcdcdc;
  --border: 1px solid var(--black);
  --padding: 10px;
  --background-color-body: linear-gradient(120deg, rgb(82, 97, 252), rgb(30, 83, 198));
  --background-color-container: #000;
  --background-color-button: #000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: var(--background-color-body);
  min-width: 100%;
  min-height: 100vh;
}

/* ---------------------------------- */
/* ----------- Flex classes --------- */
/* ---------------------------------- */

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_content-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex_content-end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ---------------------------------- */
/* ---------------------------------- */